html {
	/*Suaviação da Rolagem*/
  scroll-behavior: smooth;
  /*rolagem-comportamento: suave;*/
}

body{
	background-color: black;
	color: lime;
}

h1,h2,h3{
	color: white;
	text-shadow: 2px 2px 7px lime;
}

/*Classe Astro*/
.astro{
	width: 300px; 	height: 300px;
	/*Largura = Altura => Quadrado*/
	border-radius: 50%;/*Arredondamento*/
	border: 5px white solid;/*Borda*/
	display: block;
	margin: 0 auto;/*centraliza imagem*/
	box-shadow: 0 0 15px lime;/*Brilho*/
}

.btn{
	/*Arredondamento*/
	border-radius: 5px;
	/*retira o sublinhado*/
	text-decoration: none;
	/*texto centralizado*/
	text-align: center;
	/*Cor do texto*/
	color: black;
	/*Cor de fundo*/
	background-color: lightgray;
	width: 80px; /*Largura*/
	display: block; /*Kit Centralizador*/
	margin: 0 auto; /*Kit Centralizador*/
	padding: 20px; 	/*Preenchimento*/
	font-size: 30px;/*Tamanho da fonte*/
}
.btn:hover{/*Pseudoclasse - Passar o mouse*/
	box-shadow: 0 0 5px yellow;
}

/*Estilização do Menu Superior*/
/*https://www.w3schools.com/css/css_navbar.asp*/
ul{
	position: sticky;
	top: 0;
	list-style-type: none;
	margin: 0; 
	padding: 0;
	overflow: hidden;
	background-color: DodgerBlue; 
}
li{
	float: left;
}
/*link dentro da lista*/
li a{
	display: block;
	color: white;
	font-size: 22px;
	background-color: deepSkyBlue;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}
li a:hover{
	background-color: CornflowerBlue;
}
.active{
	background-color: CornflowerBlue;
}
table{
	background-color:white;
	color:black;
	border:1px solid black;
	border-collapse: collapse;
}
table td{
	border:1px solid black;
	max-width: 150px;
    padding: 10px;
}
table img{
	max-width:80px;
	max-height: 80px;
	border:none;
}
table caption{
	border:1px solid white;
	color:white;
	background:white;
}